@Styles.Render("~/styles/editor")
    <link href="~/Styles/persian-datepicker.css" rel="stylesheet" />
<div class="uk-container">
    <div class="subheader">
        <ul class="uk-breadcrumb">
            <li><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
            <li><a href="/admin/news/list">لیست اخبار</a></li>
            @if (ViewBag.Id != null)
            {
                <li><a href="/admin/news/edit/@ViewBag.Id">ویرایش خبر</a></li>
            }
            else
            {
                <li><a href="/admin/news/add">خبر جدید</a></li>
            }
        </ul>
    </div>

    <div class="content">
        <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-1@m uk-child-width-1-1@l uk-flex-center" uk-grid>
            <form id="frmNews" class="form" action="/admin/news/save" data-load="/admin/news/load" method="post" data-success="saveComplete" data-load-success="loadComplete" loader="1">

                <input type="hidden" name="id" value="@ViewBag.Id" lock />



                <div class="uk-margin">
                    <label class="uk-form-label" for="txtFileName">تصویر</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon"><i class="fal fa-image"></i></span>
                            <input id="hiddenFileId" type="hidden" name="fileId" />
                            <input id="txtFileName" class="uk-input input-ltr-left-icon" type="text" name="fileName" readonly data-validate="required" />
                            <input id="file" type="file" class="hide" />
                            <span id="upload" class="form-icon"><i class="fal fa-upload"></i></span>
                            <span id="clearFile" class="form-icon hide"><i class="fal fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-medium-top">
                    <ul uk-tab="connect: #translationList">
                        @foreach (var item in Asefian.Model.Context.Language.GetList())
                        {
                            <li><a href="#">@item.PersianTitle</a></li>
                        }
                    </ul>

                    <ul id="translationList" class="uk-switcher uk-margin" data-list="translations">
                        @foreach (var item in Asefian.Model.Context.Language.GetList())
                        {
                            <li data-list-form>
                                <input name="languageId" type="hidden" value="@item.Id" key lock />
                                <label>عنوان</label>
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon"><i class="fal fa-heading"></i></span>
                                    <input class="uk-input" type="text" name="title" data-validate="required" />
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="txtAbstractText">خلاصه</label>
                                    <div class="uk-form-controls">
                                        <textarea class="uk-textarea txtAbstractText" type="text" name="abstractText" data-validate="required"></textarea>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label>متن خبر</label>
                                    <div class="uk-inline uk-width-1-1 ">
                                        <span class="uk-form-icon"><i class="fal fa-heading"></i></span>
                                        <textarea class="uk-input txtText" type="text" name="text" data-validate="required"></textarea>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="txtPublishDate">تاریخ انتشار خبر</label>
                    <div class="uk-form-controls">
                        <input id="txtPublishDate" class="uk-input date" type="text" name="PersianPublishDate" />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="txtExpiredDate">تاریخ انقضاء خبر</label>
                    <div class="uk-form-controls">
                        <input id="txtExpiredDate" class="uk-input date" type="text" name="PersianExpiredDate" />
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="cmbStatus">وضعیت</label>
                    <div class="uk-form-controls">
                        <select id="cmbStatus" class="uk-select" name="statusId" data-validate="required">
                            <option value="">...</option>
                            <option value="1">پیش نویس</option>
                            <option value="2">منتشر نشده</option>
                            <option value="3">منتشر شده</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <button id="btnSubmit" type="submit" class="uk-button uk-button-primary uk-width-1-1">ذخیره</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/persianDate/persian-date.js"></script>
    <script src="~/Scripts/persianDate/persian-datepicker-0.4.5.js"></script>
    @Scripts.Render("~/scripts/upload")
    @Scripts.Render("~/scripts/editor")

    <script type="text/javascript" src="/scripts/app/news/app.save.js"></script>
}